.blogPostContainer {
  width: 70%;
}
.blogHeader {
  text-align: center;
}

.blogCategory {
  display: block;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 400;
}
.postTitle {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
.postedBy {
  font-size: 14px;
  font-style: italic;
  padding: 10px;
  display: block;
  box-sizing: border-box;
  color: #6c6c6c;
}
.imageheader {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.imageheader img {
  max-width: 100%;
  max-height: 100%;
}
.postContent p {
  font-size: 15px;
  font-weight: 1000px;
}

.postContent h3 {
  font-size: 19px;
  font-weight: 1000px;
}
